@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-sort-default {
  @apply bg-default/30;
}

/* LinkedList animations */
@keyframes scaleInAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleOutAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
    background-color: rgba(234, 88, 88, 0.2);
    border-color: #f87171;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes pulseArrowAnimation {
  0% {
    opacity: 0.5;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(4px);
  }
  100% {
    opacity: 0.5;
    transform: translateX(0);
  }
}

.rd3t-node, .rd3t-leaf-node {
  fill: hsl(var(--heroui-primary)) !important;
  stroke: none !important;
}